.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 2rem;
}

.header .title {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.header .title i {
    padding-right: 0.25rem;
}