.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    background: #3f51b5;
}

.footer span {
    display: flex;
    align-items: center;

    font-size: 0.85rem;
    font-weight: normal;

    color: #fff;
}

.footer span i {
    padding-left: 0.25rem;
    color: #fff;
}

.footer span a {
    padding: 0 0.25rem;

    color: #888;
    text-decoration: none;
}